body{
  background-color: #eaeaea;
}

.navbar{
  background-color: #ffffff;
}

.new-button{
  border: none;
  border-radius: 50%;
  bottom: 30px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
  color: #ffffff;
  font-size: 1.25rem;
  height: 60px;
  position: fixed;
  left: calc(50% - 30px);
  transition: all ease .2s;
  width: 60px;
}

.nothing-today-sign{
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
  color:#444;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
}

.events, .tasks{
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
  margin-top: 15px;
  padding: 0;
}

.events{
  margin-top: 15px;
}

.time-filters{
  padding: 20px 0 10px;
}

.current-time{
  font-size: 1.2rem;
}

.section-title{
  padding: 10px;
  margin: 0;
}

.task, .event{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.task-buttons button{
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.event:first-of-type, .task:first-of-type{
  border-top: 1px solid #ccc;
}

.event, .task{
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.event-time{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-right: 10px;
}

.event-detail{

  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  width: 100%;
}